@use './variables' as *;

nav{
    position: fixed;
    bottom: 100%;
    left: 0;
    z-index: 99999;
    width: 100vw;
    padding: 0.5rem;
    color: $primary;
    background-color: $secondary;
    transition: ease-in-out 0.2s;
    
    menu{

        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-evenly;

        button{
            padding: 0.75rem;
            border-radius: 50%;

            &:hover, &:active{
                background-color: #f0f8ff20;
            }
        }

        svg{
            width: 22px;
            height: 22px;
            display: block;
        }

        .btn-more{
            top: calc(100%);
            right: 0.75rem;
            position: absolute;

            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;

            &:hover, &:active{
                background-color: $secondary;
            }
        }
    }
}
    
.active-nav{
    transform: translateY(100%);
    .btn-more svg{
        transform: rotate(180deg);
    }
}

@media (min-width: 920px) {
    nav{
        left: auto;
        right: 1rem !important;
        top: 50%;
        transition: none;
        width: min-content;
        height: max-content;
        transform: translateY(-50%);
        border-radius: 16px;
        border: 2px solid $secondary;
        padding: 0;

        .btn-more{
          height: 0;
          display: none;
          opacity: 0;  
        }

        menu{
            border-radius: 14px;
            border: 2px solid $primary;
            flex-direction: column;
        }

    }

    .active-nav{
        transition: none;
        transform: translateY(-50%);
    }
}