@use './styles/variables' as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  text-decoration: none;
  font-size: 16px;
  border: none;
  color: inherit;
  background-color: inherit;

  font-family: "Poppins", sans-serif;
  font-style: normal;
}

button, a{
  cursor: pointer;
}

main{
  max-width: 1240px;
  margin: 0 auto;
}

.tech-list{
  text-align: center;
  padding: 2rem 1rem;
  margin: 2rem auto 4rem auto;

  &-box{
    margin-top: 2rem;
    
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

body{
  background-color: $primary;
  color: $secondary;
}

.site-list{
  padding: 1rem;
  border-bottom: 2px solid $secondary;

  menu{
    display: flex;
    gap: 0.5rem;
    justify-content: end;
    
    padding: 1rem;
    border-bottom: 2px solid $secondary;

    button{
      border: 1px solid $secondary;
      border-radius: 4px;
      padding: 0.3rem 0.5rem;
      cursor: pointer;

      &:hover{
        background-color: rgba(148, 146, 146, 0.1);
      }
    }

    .btn-active{
      background-color: $secondary;
      color: $primary;

      &:hover{
        color: $secondary;
      }
    }
  }
}

h1{
    font-size: 32px;
    letter-spacing: 2px;
}

h3{
  font-size: 20px;
  text-align: left;

  width: max-content;
  margin-bottom: 1rem;
  padding: 0.5rem 0.75rem;
  
  border: 2px solid $secondary;
  border-radius: 4px;

  background-color: $secondary;
}