@use './styles/variables' as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  text-decoration: none;
  font-size: 16px;
  border: none;
  color: inherit;
  background-color: inherit;

  font-family: "Poppins", sans-serif;
  font-style: normal;
}

button, a{
  cursor: pointer;
}

main{
  max-width: 1240px;
  margin: 0 auto;
}

.tech-list{
  text-align: center;
  padding: 2rem 1rem;
  margin: 2rem auto 4rem auto;

  &-box{
    margin-top: 2rem;
    
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.app-list{
  text-align: center;
  padding: 2rem 1rem;

  &-box{
    margin-top: 2rem;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  
    @media (min-width: 680px){
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }

    @media (min-width: 1020px){
      display: grid;
      grid-template-columns: repeat(3,1fr);
    }
  }
}

.slider-box{
  text-align: center;
  padding: 2rem 0.5rem;
}

h1{
    font-size: 32px;
    letter-spacing: 2px;
}

h3{
  font-size: 20px;
  text-align: left;

  width: max-content;
  margin-bottom: 1rem;
  padding: 0.5rem 0.75rem;
  
  border: 2px solid $secondary;
  border-radius: 12px;

  background-color: $secondary-20;
}